<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Tech Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Tech Talk</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          {{#if logged_in}}
          <li><a href="/settings/dashboard">Dashboard</a></li>
          {{else}}
          <li><a href="/login">Dashboard</a></li>
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          
          {{#if logged_in}}
          <li class="logout">
            <button type="submit" class="logout-btn"
              style="background: none;color: inherit;border: none;padding-top: 15px;padding-bottom: 15px;font: inherit;cursor: pointer;outline: inherit;display: block;line-height: 20px; color: #777">
              <span class="glyphicon glyphicon-log-in"></span>
              Log out
            </button>
          </li>
          {{else}}
          <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Sign In</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>
  {{{body}}}

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>