
<div class="col-md-4 col-md-offset-4">
    <div class="well">
        <h3>Login</h3>
        <form class="login-form">
            <div class="form-group">
                <label for="user-login"></label>
                <input type="text" class="form-control" id="user-login" placeholder="Your Username *" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="pwd-login" placeholder="Your Password *"/>
            </div>
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="Login" />
            </div>
            <div class="form-group">
                <a href="/signup" id="submit" class="btn">Don't have an account? Sign up instead!</a>
            </div>
        </form>
    </div>
</div>
<script src="/js/login.js"></script>