<form class="login-form">
    <div class="form-group">
        <label for="userName">User Name:</label>
        <input type="text" class="form-control login-user" id="userName">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control login-pwd" id="pwd">
    </div>
    <button type="submit" class="btn btn-default login-btn">Submit</button>
</form>
{{!-- <script src="../public/js/login.js"></script> --}}