<div class="col-md-4 col-md-offset-4">
    <div class="well">
        <h3>Sign Up</h3>
        <form class="signup-form">
            <div class="form-group">
                <label for="user-signup"></label>
                <input type="text" class="form-control" id="user-signup" placeholder="Your Username *" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="pwd-signup"
                    placeholder="Your Password (minimum 8 characters) *" />
            </div>
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="Create Account" />
            </div>
            <div class="form-group">
                <a href="/login" id="submit" class="btn">Already have an account? Click here to log in!</a>
            </div>
        </form>
    </div>
</div>
<script src="/js/signup.js"></script>